{% extends 'shared/layout.html' %}

{% block conteudo %}

<nav>
        <h1>Listagem das Ideias</h1>
        <form action="/sobre" method="post">
                {% csrf_token %}
                <select name="categorias">
                        <option value="TODAS">Todas as categorias</option>
                        <option value="TERRA_PLANA">Terra Plana</option>
                        <option value="CONTRA_GROGER">Contra o coach Groger</option>
                        <option value="CONTRA_JOAO">Contra João</option>
                        <option value="PUBLICAS">Públicas</option>
                        <option value="OUTROS">Outros</option>
                </select>
                <input type="submit" value="Buscar">
        </form>
</nav>
<section>
        {% for ideia in ideias %}
                {%if ideia.pessoa.ativo == True%}
                        <aside>
                                        <h4>{{ideia.pessoa.nome}} {{ideia.pessoa.sobrenome}}</h4>
                                        <p>Titulo da ideia: {{ideia.titulo}}</input></p>
                                        <p>Categoria da ideia: <span>{{ideia.categorias}}</span></p>
                                        <p>Descrição da ideia:</p>
                                        <span>{{ideia.descricao}}</span>
                                        <a href="/remover_ideia/{{ideia.id}}"><input type="button" value="apagar"></input></a>
                                </form>
                                
                                
                        
                        </aside>
                {%endif%}
        {% endfor %}
</section>
{% endblock %}